{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ignorePatterns": ["*.spec.ts"],
  "rules": {
    "no-console": "warn",
    "no-extra-boolean-cast": "off",
    "no-dupe-class-members": "off",
    "@typescript-eslint/interface-name-prefix": ["error", "always"],
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-function-return-type": "off"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}
